.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.theme-btn {
  width: 90px;
  height: 44px;

  border-radius: 999px;
  border: 1px solid var(--border);

  background: var(--surface);
  box-shadow: var(--shadow);

  display: flex;
  align-items: center;

  padding: 6px;
  cursor: pointer;

  transition: 0.3s ease;
}

.theme-btn .thumb {
  width: 34px;
  height: 34px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary);
  color: #fff;

  font-size: 18px;

  transition: 0.3s ease;
  transform: translateX(0);
}

.theme-btn.dark {
  background: var(--soft-yellow);
}

.theme-btn.dark .thumb {
  transform: translateX(44px);
  background: var(--accent);
}